@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row" id="buyfinish">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <br />
                <br />
                <br />
                <h3>
                    Your order was placed successfully
                </h3>
                <h4>Want to buy something else?</h4>
                <a asp-area="" asp-controller="Products" asp-action="List" class="btn btn-primary">Go shopping!  <i class="bi bi-basket2-fill"></i></a>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<div id="buy">
    <br>
    <h3></h3>
    
    
</div>


<style>

    #buyfinish {
        text-align: center;
        position: center;
    }
</style>